* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

    /*--------------------SINGLE POST--------------------*/

.singlePostResult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    height: 100%;
}


    /*------------------- ALL POSTS--------------------*/


.allPostResults {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.post_container {
    overflow: hidden;
    max-width: 400px;
    background-color: var(--main-grey);
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blogpage_h1 {
        text-transform: uppercase;
        text-align: center;
        color: var(--main-blue);
        padding-bottom: 20px;
        font-size: 40px;
        font-weight: 800;
}

.post_name {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}

.post_img {
    display: block;
    width: 100%;
    height: 100%;
}


.post_paragraph {
    justify-content: center;
    margin: 10px;
}


.post_card {
    background-color: var(--main-grey);
    width: 100%;
}

#view_post {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    height: 40px;
    width: 120px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
    background-color: var(--main-blue);
    border-radius: 20px;
    margin-top: 6px;
}














@media screen and (min-width:1024px) {
    
    .allPostResults {
        display: flex;
        flex-wrap: wrap;
    }

    .allPostResult {
    }
    
    .singlePostResult {

    }

    .post_container {
        width: 100%;
        height: 100%;
    }

    .post_img {
        width: 100%;
        height: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .post_img:hover {
        opacity: 0.5;
    }

    #view_post {
        margin-top: 10px;
    }

    #view_post:hover {
        border: 2px solid var(--main-blue);
    }
    
}

