:root {
    --main-blue: #5959ff;
    --main-white: white;
    --main-black: black;
    --main-grey: rgb(219, 219, 219);
    --main-red: red;
    --main-github: black;
    --main-discord: #7289da;
    --main-twitter: #00acee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

main {
    margin: 20px;
}

    /*--------------------NAV BAR FOR ALL PAGES--------------------*/

nav {
    background: var(--main-blue);
    height: 100%;
}

.nav-links {
    display: flex;
    position: fixed;
    list-style: none;
    height: 100vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    background: var(--main-blue);
    flex-direction: column;
    clip-path: circle(100px at 2% -35%);
    -webkit-clip-path: circle(100px at 2% -35%);
    transition: all 1.5s ease-out;
}

.nav-links li a {
    color: var(--main-white);
    text-decoration: none;
    font-size: 20px;
}

.hamburger_menu {
    position: absolute;
    cursor: pointer;
    padding: 20px;
    z-index: 2;
}

.hamburger_menu.open {
    position: fixed;
}

.logo {
    display: flex;
    margin: 0 auto;
}

.line {
    width: 30px;
    height: 3px;
    background: var(--main-white);
    margin: 5px;
}


.nav-links li a {
    font-size: 40px;
    text-transform: uppercase;      
}

.nav-links.open {
    clip-path: circle(1600px at 2% -35%);
    -webkit-clip-path: circle(1600px at 2% -35%);
}

#backbutton  {
    list-style: none;
    color: var(--main-blue);
    background-color: var(--main-white);
    text-decoration: none;
    border: 2px solid var(--main-blue);
    border-radius: 7px;
    padding: 7px 9px 7px 9px;
    cursor: pointer;
}

.index_welcome {
    margin-bottom: 10px;
}

.index_bio {
    text-align: center;
    margin: 0 auto;
    max-width: 400px;
    font-size: 20px;
}

    /*--------------------INDEX--------------------*/

.index_welcome {
    text-align: center;
}

    /*--------------------LOADER FOR ALL PAGES--------------------*/

.loader_container {
    display: flex;
    justify-content: center;
}

.loader > div {
    width: 3em;
    height: 3em;
    background-color: var(--main-blue);
    border-radius: 50%;
    display: inline-block;
    animation: 1.5s bounce infinite ease-in-out both;
  }

  .loader {
      margin-top: 100px;
      height: 600px;
  }

.loader .dots1{
    animation-delay: -0.30s;
}

.loader .dots2{
    animation-delay: -0.15s;
}
  

@keyframes bounce {
    0%,80%,100%{
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}



@media screen and (min-width:1024px) {



    .nav-links {
        display: flex;
        list-style: none;
        width: 30%;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        margin-left: auto;
    }
    
    .nav-links li a {
        color: var(--main-white);
        text-decoration: none;
        font-size: 40px;
    }

    .nav-links li a:hover {
        transition: ease-in-out 0,5s;
        border: 5px solid white;
        padding: 10px;
    }

    .on-Page {
        background-color: var(--main-white);
        padding: 15px;
        color: var(--main-blue) !important;
    }

}


    /*--------------------NAV BAR FOR ALL PAGES--------------------*/


    /*--------------------INDEX--------------------*/


    /*--------------------BLOG POSTS--------------------*/

    /*--------------------ABOUT ME--------------------*/

    .aboutme_form {
        background: var(--main-grey);
        border-radius: 10px;
    }

    .aboutme_form h1 {
        text-align: center;
        padding-top: 20px;
        margin: 20px;
    }

    .aboutme_form p {
        text-align: center;
        margin: 10px;
        font-size: 20px;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .about_border {
        border-bottom: 2px solid black;
    }

    #aboutme_gif {
        width: 15%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    } 











































    /*-----------------------FOOTER-----------------------*/

    footer {
        background-color: var(--main-blue);
    }

    .footer_social_container {
        width: 100%;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .footer_social {
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
    }

    .github, .discord, .twitter {
        color: var(--main-black);
        font-size: 4vh;
    }

    .footer_legal_container {
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
    }

    .footer_legal {
        margin-bottom: 20px;
    }

    .footer_legal a {
        font-size: 2vh;
        font-weight: 400;
        margin: 10px;
        list-style: none;
        text-decoration: none;
        color: var(--main-white);
    }

    .copyright {
        font-size: 1.8vh;
        font-weight: 600;
        text-align: center;
        color: var(--main-white);
        max-width: 80%;
        margin: 0 auto;
    }
        